body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}

h3 {
    font-size: 14pt;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
    margin: 10px 0;
}

section {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
}

/* Header */

.Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 50px;
    border-top: 5px solid skyblue;
}

.Header .Header__head {
    flex: 1 1 auto;
    text-align: center;
}

.Header .Header__body {
    flex: 4 1 auto;
}

.Menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.Menu .Menu__item {
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}


/* Main Image */

.main-image img {
    width: 100%;
    border-bottom: 5px solid skyblue; 
}


.Footer {
    display: flex;
    background-color: #333;
    color: white;
    min-height: 50px;
}